:root { 
  --secondary-color: #4A90E2; /* Sea Blue */
  --border-accent-color: #E97F3D;  /* Terracotta orange */
  --button-color: #FFD700; /* lemon yellow */
  --text-color: #333333; /* Charcoal */
  --subtle-color: #708238; /* olive green */
  --hover-color: #D6336C; /* bougainvillea pink */
  --divider-color: #FF6F61; /* sunset coral */
  --gradient: #85D4E3; /* sky aqua */ 

body {
  background-color: #FFFFF0;
  color: var(--text-color);
  font-family: "Open Sans";
  line-height: 160%;
  margin: 40px;
}

h1 {
  font-family: "Bona Nova";
  font-size: 80px;
  font-weight: 500;
  text-align: center;
  color: var(--primary-color);
}

h2 {
  font-family: "Bona Nova";
  color: var(--primary-color);
}

h3 {
  font-family: "Bona Nova";
  font-weight: 600;
  color: var(--accent-color);
}

.tagline {
  font-family: "Open Sans";
  font-weight: 300;
}

.main-header {
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
}

#nav {
  background-color: var(--primary-color);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav-li {
  float: left;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}

li a {
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--hover-color);
  color: white;
  cursor: pointer;
}

footer {
  text-align: left;
  position: sticky;
}

.linkedin-logo {
  width: 14px;
  height: 16px;
}

.github-logo {
  width: 14px;
  height: 16px;
}

.linkedin {
  background-color: var(--background-color);
  padding: 10%;
}

.github {
  background-color: var(--background-color);
  padding: 10%;
}