.main-title {
  font-family: "Italiana";
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.activity-title {
  font-family: "EB Garamond";
  font-size: 20px;
}

.quotes {
  line-height: 2;
}

footer {
  text-align: center;
}